body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo {
    visibility: hidden;
}

nav {
    visibility: hidden;
    position: absolute;
    text-align: center;
    width: 90%;
}

.nav__item {
    margin-bottom: 1rem;
}

nav ul {
    list-style-type: none;
    margin-bottom: 1rem;
}

.nav__link--button {
    padding: .5rem 1rem;
    border-radius: 50px;
    background-color: #A59678;
}

.navbar {
    background-color: #2E323F;
    padding: 1rem;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: opacity 250ms ease;
    position: relative;
    left: 0;
}

.nav-toggle:focus, .nav-toggle:hover {
    opacity: .75;
}

.hamburguer {
    width: 50%;
    position: relative;
}

.hamburger, .hamburger::before, .hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before, .hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.nav__item:hover {
    opacity: 0.7;
}

.container {
    padding: 2rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2 {
    color: #A59678;
}

.sec1 {
    background-color: #3B4050;
}

.part1 {
    color: white;
}

.part2 {
    color: #A59678;
}

.sec1 p {
    color: white;
}

.section1_button {
    text-transform: uppercase;
    padding: 1rem;
    background-color: #A59678;
    color: white;
    border: none;
    border-radius: 50px;
}

.hero__img {
    width: 100%;
}

.blue_box {
    margin-top: 1.5rem;
    text-align: center;
    padding: 2rem;
    background-color: #2E323F;
    color: white;
}

footer {
    background-color: #3B4050;
    padding: 2rem;
    color: white;
}

footer h3 {
    color: #A59678;
}

footer ul {
    list-style-type: none;
}

.footer__item {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.footer__lists {
    text-align: center;
}

.options {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width:690px) {
    .logo {
        visibility: visible;
        display: flex;
    }
    nav {
        visibility: visible;
        position: relative;
        justify-content:flex-end;
        display: flex;
        width: 90%;
    }
    .navbar {
        display: flex;
    }
    .nav-toggle {
        visibility: hidden;
    }
    .nav__list--primary, .nav__list--secondary {
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0;
    }
    .nav__item {
        margin-left: 2rem;
        margin-bottom: 0;
    }

    .bb_container{
        display: flex;
    }
    .blue_box:not([name ="1stBox"]){
        margin-left: 1rem;
    }

    footer h1{
        text-align: center;
    }
}

@media (min-width:780px) {
    .sec2{
        display: flex;
        justify-content: space-between;
    }
    .sec2:not([name="1stElem"]){
    }
    .sec2_element{
        text-align: center;
        width: 30%;
    }

    .sec3{
        display: flex;
        justify-content: space-between;
    }

    .sec3_pt1{
        width: 55%;
    }

    .bb_container{
        width: 35%;
        display: block;
    }
    .blue_box{
        margin-top: 1rem;
        font-size: 0.7rem;
    }
    .blue_box:not([name ="1stBox"]){
        margin-left: 0;
    }
    .footer__lists{
        display: flex;
    }
    .footer__lists p, li{
        font-size: 0.7rem;
    }
}